<div class="g-body">
    <div class="m-help">
    <div class="m-simpleHeader">
        <a href="javascript:;" data-fn="back" class="m-simpleHeader-back"><i class="ico-back"></i></a>
        <h1>新手引导</h1>
    </div>
        <div class="g-wrap">
            <img src="images/cover-2.png" style="width:100%;vertical-align:center">
            <img src="images/cover-1.png" style="width:100%;vertical-align:center">
            <img src="images/cover-3.png" style="width:100%;vertical-align:center">
        </div>

        <div class="g-wrap">
            <div class="m-help-main">
                <h3>服务协议</h3>
                <div class="m-help-main-txt">
                    <p class="m-help-main-intro">欢迎您访问并使用充满互动乐趣的购物网站-{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}，作为为用户提供全新、有趣购物模式的互联网公司，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}通过在线网站为您提供各项相关服务。当使用{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}的各项具体服务时，您和{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}都将受到本服务协议所产生的制约，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}会不断推出新的服务，因此所有服务都将受此服务条款的制约。请您在注册前 务必认真阅读此服务协议的内容并确认，如有任何疑问，应向{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}咨询。一旦您确认本服务协议后，本服务协议即在用户和{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}之间产生法律效力。您在注册完成表示您完全接受本协议中的全部条款。随后按照页面给予的提示完成全部的注册步骤。</p>
                    <p class="m-help-main-intro">{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}可能会不定期的修改本服务协议的有关条款，并保留在必要时对此协议中的所有条款进行随时修改的权利。一旦协议内容有所修改，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}将会在网站重要 页面或社区的醒目位置第一时间给予通知。如果您继续使用{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}的服务，则视为您受协议的改动内容。如果不同意本站对协议内容所做的修改，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}会及时 取消您的服务使用权限。本站保留随时修改或中断服务而不需告知用户的权利。本站行使修改或中断服务的权利，不需对用户或第三方负责。</p>
                </div>
            </div>
            <div class="m-help-ext">
                <h4>一、用户注册</h4>
                <ol>
                    <li><span class="index">1</span>用户注册是指用户登录{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}，按要求填写相关信息并确认同意本服务协议的过程。</li>
                    <li><span class="index">2</span>{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}用户必须是具有完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的 组织不得注册为{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}用户或超过其民事权利或行为能力范围与{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}进行交易，如与{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}进行交易的，则服务协议自始无效，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权立即停止与该 用户的交易、注销该用户账户，并有权要求其承担相应法律责任。</li>
                </ol>
                <h4>二、用户的帐号，密码和安全性</h4>
                <p>用户一旦注册成功，成为本站的合法用户。用户将对用户名和密码安全负全部责任。此外，每个用户都要对以其用户名进行的所有活动和事件负全责。用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通告本站。</p>
                <h4>三、{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}原则</h4>
                <ol>
                    <li>
                        <span class="index">1</span><b class="txt-red">释义</b>
                        <br>
                        <b class="txt-red">夺宝码：</b>指{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网用户成功参与夺宝之后获得的随机分配编码。
                        <br>
                        <b class="txt-red">幸运夺宝码：</b>指某件商品所有编码售出后，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网根据规则计算出的一个编码，持有该编码的用户即可获得该商品。
                    </li>
                    <li>
                        <span class="index">2</span>{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网承诺遵循以下的原则运营网站，确保所有用户在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网中享受同等的权利与义务。
                        <br>
                        <b class="txt-red">平等原则：</b>用户和{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}在交易过程中具有同等的法律地位。
                        <br>
                        <b class="txt-red">自由原则：</b>用户享有自愿向{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}参与购买商品的权利，任何人不得非法干预。
                        <br>
                        <b class="txt-red">公平原则：</b>用户和{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}行使权利、履行义务应当遵循公平原则。
                        <br>
                        <b class="txt-red">诚实信用原则：</b>用户和{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}行使权利、履行义务应当遵循诚实信用原则。
                        <br>
                        <b class="txt-red">履行义务原则：</b>用户向{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}参与商品分享购买时，用户和{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}皆有有义务根据本服务协议的约定完成该等交易（法律或本协议禁止的交易除外）
                    </li>
                    <li>
                        <span class="index">3</span>用户知悉，除本协议另有约定外，用户无论是否获得商品，参与夺宝的资金均不能退回；用户完全了解参与{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}存在的风险，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网无法保证用户参与夺宝一定会获得商品。</li>
                </ol>
                <h4>四、用户的权利和义务</h4>
                <ol>
                    <li><span class="index">1</span>用户有权拥有其在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}的用户名及密码，并用该用户名和密码登录{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}参与商品购买。用户不得以任何形式转让或授权他人使用自己的{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}用户名。</li>
                    <li><span class="index">2</span>用户有权根据本协议的规定以及{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网站上发布的相关规则在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}上查询商品信息、发表使用体验、参与商品讨论、邀请关注好友、上传商品图片、参加{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}的有关活动，以及享受{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}提供的其它信息服务</li>
                    <li><span class="index">3</span>用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及真实性，保证{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}可以通过上述联系方式与用户本人进行联系。同时，用户也有义务在相关资料发生变更时及时更新有关注册资料。用户保证不以他人资料在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}进行注册和参与商品分享购买。</li>
                    <li><span class="index">4</span>用户应当保证在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}参与商品分享购买时遵守诚实信用原则，不扰乱网上交易的正常秩序。</li>
                    <li><span class="index">5</span>用户享有言论自由权利；并拥有适度修改、删除自己发表的文章的权利用户不得在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}发表包含以下内容的言论：
                        <br> 1) 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；
                        <br> 2) 煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；
                        <br> 3) 损害国家荣誉和利益的；
                        <br> 4) 煽动民族仇恨、民族歧视，破坏民族团结的；
                        <br> 5) 任何包含对种族、性别、宗教、地域内容等歧视的；
                        <br> 6) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
                        <br> 7) 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
                        <br> 8) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
                        <br> 9) 损害国家机关信誉的；
                        <br> 10) 其他违反宪法和法律行政法规的。
                    </li>
                    <li><span class="index">6</span>用户在发表使用体验、讨论图片等，除遵守本条款外，还应遵守该讨论区的相关规定。</li>
                    <li><span class="index">7</span>未经{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}止用户在网站发布任何形式的广告。</li>
                </ol>
                <h4>五、{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}的权利和义务</h4>
                <ol>
                    <li><span class="index">1</span>{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有义务在现有技术上维护整个网上交易平台的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行；</li>
                    <li><span class="index">2</span>对用户在注册和使用{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网上交易平台中所遇到的与交易或注册有关的问题及反映的情况，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}应及时作出回复；</li>
                    <li><span class="index">3</span>对于用户在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网站上作出下列行为的，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权作出删除相关信息、终止提供服务等处理，而无须征得用户的同意：
                        <br> 1) {{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权对用户的注册信息及购买行为进行查阅，发现注册信息或购买行为中存在任何问题的，有权向用户发出询问及要求改正的通知或者作出删除等处理；
                        <br> 2) 用户违反本协议规定或有违反法律法规和地方规章的行为的，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权停止传输并删除其信息，禁止用户发言，注销用户账户并按照相关法律规定向相关主管部门进行披露。
                        <br> 3) 对于用户在{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}进行的下列行为，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权对用户采取删除其信息、禁止用户发言、注销用户账户等限制性措施：包括发布或以电子邮件或以其他方式传送 存在恶意、虚假和侵犯他人人身财产权利内容的信息，进行与分享购物无关或不是以分享购物为目的的活动，恶意注册、签到、评论等方式试图扰乱正常购物秩序， 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传
                        送，干扰或破坏{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网站和服务或与{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网站和服务相连的服务器和网络，或发布其他违反公共利益或可能严重损害{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}和其它用户合法利益的信息。
                    </li>
                    <li><span class="index">4</span>用户在此免费授予{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}永久性的独家使用权(并有权对该权利进行再授权)，使{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权在全球范围内(全部或部分地)使用、复制、修订、改写、发布、 翻译和展示用户公示于{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网站的各类信息，或制作其派生作品，和或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。</li>
                    <li><span class="index">5</span>对于{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网络平台已上架商品，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}有权根据市场变动修改商品价格，而无需提前通知客户。</li>
                    <li><span class="index">6</span>{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}分享购物模式，秉着双方自愿原则，分享购物存在风险，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}不对抽取的“幸运编号”结果承担责任，望所有用户谨慎参与。</li>
                    <li><span class="index">7</span>超过60天，用户奖品还未领取，视为自动放弃。</li>
                </ol>
                <h4>六、配送及费用</h4>
                <p>{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}将会把产品送到您所指定的送货地址。全国免费配送（港澳台地区除外）。</p>
                <p>请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成配送延迟或无法配送等，本站将不承担责任：</p>
                <ol>
                    <li><span class="index">1</span>客户提供错误信息和不详细的地址；</li>
                    <li><span class="index">2</span>货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果。</li>
                    <li><span class="index">3</span>不可抗力，例如：自然灾害、交通戒严、突发战争等。</li>
                </ol>
                <h4>七、商品缺货规则</h4>
                <p>由 于市场变化及各种以合理商业努力难以控制的因素的影响，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网无法承诺用户所获得的商品都会有货；用户获得的商品或服务如果发生缺货，协议双方均无权 取消该交易，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网将通过有效方式通知用户进行换货，用户可选择换购本商城同等价位的商品（一件或多件），或选择补差价换购高价位商品。</p>
                <p>{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网可对即将上市的商品或服务进行预售登记，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网会在商品或者服务正式上市之后尽最大努力在最快时间内给商品获得者安排发货，预售登记并不做交易处理，不构成要约。</p>
                <h4>八、责任限制</h4>
                <ol>
                    <li><span class="index">1</span>用户理解并同意，在使用{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网服务的过程中，可能会遇到不可抗力等风险因素使{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对 一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}在第一时间与相关单位配合，及时进行修复，但是由此给用户造成的损失，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网将在法律允许的范围内免责。</li>
                    <li><span class="index">2</span>用户理解并同意，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网不能随时预见和防范法律、技术以及其他不可控的风险，对以下情形之一导致的服务中断或受阻，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网不承担责任：
                        <br> （1）大规模病毒、木马或其他恶意程序、黑客攻击的破坏；
                        <br> （2）用户或{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网的电脑软件、系统、硬件和通信线路出现故障；
                        <br> （3）用户操作不当；
                        <br> （4）用户通过非{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网授权的方式使用服务；
                        <br> （5）政府管制等原因可能导致的服务中断、数据丢失以及其他的损失和风险。
                        <br> （6）其他{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}网无法控制或合理预见的情形。
                    </li>
                    <li><span class="index">3</span>在法律法规所允许的限度内，因使用{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}服务而引起的任何损害或经济损失，{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}承担的全部责任均不超过用户所购买的与该索赔有关的商品价格。这些责任限制条款将在法律所允许的最大限度内适用，并在用户资格被撤销或终止后仍继续有效。</li>
                </ol>
                <h4>九、网络服务内容的所有权</h4>
                <p>本站定义的网络服务内容包括：文字、软件、声音、图片、录象、图表、广告中的全部内容；电子邮件的全部内容；本站为用户提供的其他信息。所有这些内容受版 权、商标、标签和其它财产所有权法律的保护。所以，用户只能在本站和广告商授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派 生产品。本站所有的文章版权归原文作者和本站共同所有，任何人需要转载本站的文章，必须征得原文作者或本站授权。</p>
                <h4>十、用户隐私制度</h4>
                <p>我们不会向任何第三方提供，出售，出租，分享和交易用户的个人信息。当在以下情况下，用户的个人信息将部分或全部被善意披露：</p>
                <ol>
                    <li><span class="index">1</span>经用户同意，向第三方披露；</li>
                    <li><span class="index">2</span>如用户是合资格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</li>
                    <li><span class="index">3</span>根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</li>
                    <li><span class="index">4</span>如果用户出现违反中国有关法律或者网站政策的情况，需要向第三方披露；</li>
                    <li><span class="index">5</span>为提供你所要求的产品和服务，而必须和第三方分享用户的个人信息；</li>
                    <li><span class="index">6</span>其它本站根据法律或者网站政策认为合适的披露。</li>
                </ol>
                <h4>十一、法律管辖和适用</h4>
                <ol>
                    <li><span class="index">1</span>本协议的订立、执行和解释及争议的解决均应适用中国法律。</li>
                    <li><span class="index">2</span>如发生本站服务条款与中国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。</li>
                    <li><span class="index">3</span>本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。</li>
                    <li><span class="index">4</span>如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本站所在地的人民法院提起诉讼。</li>
                </ol>
            </div>
        </div>

        <div class="g-wrap">
            <div class="m-help-ext">
                <h4>1、怎样查看我参与的商品有没有中奖？</h4>
                <p>每件商品开奖结果公布之后，登录网站，进入"我的用户中心"，在"我中奖的商品"中即可查询中奖情况。</p>
                <p>&nbsp;</p>
                <h4>2、我获得了商品，我还需要支付其他费用吗？</h4>
                <p>不需要支付其他任何费用。</p>
                <p>&nbsp;</p>
                <h4>3、当我获得商品以后我该做什么？</h4>
                <p>在您获得商品后您会收到站内信、短信和电子邮件的通知。在这之后，您必须在“我的用户中心”正确填写、真实的收货地址，完善或确认您的个人信息。如未及时确认信息，我们会提醒，请关注。</p>
                <p>&nbsp;</p>
                <h4>4、商品是正品吗？怎么保证？</h4>
                <p>我们承诺，所有商品100%正品，可享受厂家所提供的全国联保服务，享受商品的保修、换货和退货的义务（国家三包政策）。</p>
                <p>&nbsp;</p>
                <h4>5、如何晒单分享？</h4>
                <p>在您收到商品后，登录网站，进入"我的用户中心"，在“晒单分享”区发布晒单信息，通过审核后，即可完成晒单。在您成功晒单后，您的晒单会出现在网站“晒单分享”区，与大家分享喜悦。</p>
                <p>&nbsp;</p>
                <h4>6、我收到的商品可以换货或者退货吗？</h4>
                <p>非质量问题，不在三包范围内，不给予退换货。</p>
                <p>&nbsp;</p>
                <h4>7、参与{{#if appName}}{{appName}}{{else}}众联寻宝{{/if}}需要注意什么？</h4>
                <p>请务必正确填写真实有效的联系电话、收货地址以便在您中奖时能及时与您取得联系。</p>
                <p>&nbsp;</p>
                <h4>8、网上银行充值未及时到帐怎么办？</h4>
                <p>网上支付未及时到帐可能有以下几个原因造成：</p>
                <p>第一，由于网速或者支付接口等问题，支付数据没有及时传送到支付系统造成的；</p>
                <p>第二，网速过慢，数据传输超时，使银行后台支付信息不能成功对接，导致银行交易成功而支付后台显示失败；</p>
                <p>第三，在网上支付如果使用某些防火墙软件，有时会屏蔽银行接口的弹出窗口，这时会造成在银行那边被扣费，但在我们网站上显示尚没支付。但请您放心，每天我们都会根据银行系统的帐务明细清单对前一天的订单进行逐笔核对，如遇问题订单，我们会做手工添加。</p>
                <p>&nbsp;</p>
                <h4>建议反馈</h4>
                <p>如果你有任何问题或者建议请通过微信聊天窗口发送消息给我们</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>

        <div class="g-wrap">
            <div class="m-help-main">
                <h3>夺宝简介</h3>
                <div class="m-help-main-txt">
                    <p class="m-help-main-intro">一元夺宝，就是指用户花费1元兑换1个夺宝币，凭夺宝币可参与某件商品的众筹购买，商品分配对应数量的号码，每个号码价值1个夺宝币；当一件商品所有号码售出后，根据预先制定的规则计算出一个幸运号码，持有该号码的用户，直接获得该商品。</p>
                </div>
            </div>
            <div class="m-help-ext">
                <h4>夺宝规则</h4>
                <ol>
                    <li><span class="index">1</span><b class="txt-red">获得夺宝币：</b>用户充值1元，即可获得1个夺宝币；</li>
                    <li><span class="index">2</span><b class="txt-red">挑选喜欢的商品：</b>根据商品价值，商品分配对应数量的号码，用户可根据需求选择相应的数量</li>
                    <li><span class="index">2</span><b class="txt-red">支付：</b>用户选择数量完毕，按照一个夺宝币支付一个号码进行支付，也可以通过其它支付接口进行支付</li>
                    <li><span class="index">3</span><b class="txt-red">获得商品：</b>当所有号码都被分配完毕后，系统根据规则计算出1个幸运号码，持有该号码的用户，直接获得该商品。</li>
                </ol>
                <h4>幸运号码计算规则</h4>
                <ol>
                    <li><span class="index">1</span>商品的最后一个号码分配完毕后，将公示该分配时间点前本站全部商品的最后50个参与时间；</li>
                    <li><span class="index">2</span>将这50个时间的数值进行求和（得出数值A）（每个时间按时、分、秒、毫秒的顺序组合，如20:15:25.362则为201525362）；</li>
                    <li><span class="index">3</span>（数值A）除以该商品总需人次得到的余数 + 原始数 10000001，得到最终幸运号码，拥有该幸运号码者，直接获得该商品。</li>
                </ol>
            </div>
        </div>
    </div>
</div>