{{#list item}}
<a href="javascript:;" class="w-shareItem" data-href="?c=shareDetail&amp;id={{id}}">
    <div class="title">{{title}}</div>
    <div class="author">{{usename}}&nbsp;<span class="time">{{time}}</span></div>
    <div class="abbr">
        <div class="pic" style="background-image:url({{thumbs}})"></div>
        <div class="txt">{{content}}</div>
    </div>
</a>
{{/list}}