{{#list item}}
<div class="w-shareItem">
    <p class="title"><a href="javascript:;" data-href="?c=shareDetail&amp;id={{id}}">{{title}}</a></p>
    <div class="author">晒单时间：{{time}}</div>
    <div class="abbr">
        <div class="pic">
            <a href="javascript:;" data-href="?c=shareDetail&amp;id={{id}}"><img src="{{thumbs}}"></a>
        </div>
        <div class="txt"><a href="javascript:;" data-href="?c=shareDetail&amp;id={{id}}">{{content}}</a></div>
    </div>
</div>
{{/list}}